In [2]:
import numpy as np
import pandas as pd 
from Utils.ProjectPathsSetup import ProjectPathsSetup
from Utils.Concatenator import Cocatenator
from Environment.PathsParameters import *
from Environment.Parameters import *
ProjectPathsSetup().add_project_paths('./')

In [26]:

news_df = pd.read_csv(WEL_FAKE_DATASET)

In [30]:
news_df[news_df['title'].apply(lambda x: type(x) != str)]

,Unnamed: 0,title,text,label
1,1,NaN,Did they post their votes for Hillary already?,1
43,43,NaN,True. Hillary needs a distraction and what bet...,1
162,162,NaN,All eyes on Electoral delegates. The People kn...,1
185,185,NaN,Cool,1
269,269,NaN,A leading US senator: US Supporting War in Syr...,1
...,...,...,...,...
71484,71484,NaN,Another Arab supremacist masturbation fantasy....,1
71521,71521,NaN,I'm sure they drastically changed accounting m...,1
71540,71540,NaN,It's easy to imagine Obama or Kerry pissing hi...,1
71570,71570,NaN,Ever since the powers to be assassinated JFK A...,1
71734,71734,NaN,"Hmm, free college, now that's an idea.",1

In [31]:
news_df[news_df['text'].apply(lambda x: type(x) != str)]

,Unnamed: 0,title,text,label
2457,2457,Après le succès de « Mariés au premier regard ...,NaN,1
3534,3534,Elections US : les premières estimations donne...,NaN,1
3709,3709,110% des Américains assurent qu’ils continuero...,NaN,1
5612,5612,Des millions d’Américains recherchent massivem...,NaN,1
6270,6270,Vladimir Poutine est élu 45e Président des Eta...,NaN,1
6997,6997,Les Américains ne sont plus qu’à quelques heur...,NaN,1
7083,7083,Gorafi Magazine: Barack Obama « Je vous ai déj...,NaN,1
8974,8974,Live Soirée présidentielle US 2016 >> Le Gorafi,NaN,1
16717,16717,Ne supportant plus l’ambiance de la campagne é...,NaN,1
17781,17781,Débat Primaire de la Droite : les Français pas...,NaN,1
18342,18342,[Vidéo] Découvrez le Gorafi de l’Année 2017 >>...,NaN,1
24076,24076,"Heureux et souriant, il a la chance de toujour...",NaN,1
26324,26324,Les gardes-frontières se mettent en alerte pou...,NaN,1
26898,26898,"#NDDL: Pour fêter l’autorisation des travaux, ...",NaN,1
30280,30280,Grand-Prix du Brésil – Romain Grosjean obtient...,NaN,1
31711,31711,Primaire – François Fillon se désiste au profi...,NaN,1
35933,35933,«Pourquoi je suis candidat à la présidentielle...,NaN,1
37578,37578,New-York – Le lâcher de confettis prévu à Time...,NaN,1
40241,40241,Horoscope du 21 novembre 2016 >> Le Gorafi,NaN,1
44166,44166,La Trump Tower cambriolée – les voleurs seraie...,NaN,1
45468,45468,La sortie du dernier livre inédit du Gorafi éc...,NaN,1
45714,45714,La Russie a profité de l’élection américaine p...,NaN,1
46383,46383,Donald Trump en 5 dates >> Le Gorafi,NaN,1
46940,46940,La voyante lisait l’avenir dans les cartes ble...,NaN,1
47751,47751,Le top des recherches Google passe en top des ...,NaN,1
48677,48677,Donald Trump s’excuse pour toutes les minorité...,NaN,1
49031,49031,GuinessBook : 100 millions d’Américains batten...,NaN,1
50212,50212,Il saoule tout le monde avec son analyse polit...,NaN,1
53407,53407,Il se fait cryogéniser dans l’espoir de voir u...,NaN,1
54258,54258,"Pour booster les ventes, Dassault offre un por...",NaN,1
54264,54264,Hillary Clinton en 5 dates >> Le Gorafi,NaN,1
56864,56864,"Sur Twitter, Donald Trump se félicite d’avoir ...",NaN,1
58345,58345,Vendée Globe – Un skipper fait demi-tour après...,NaN,1
59272,59272,SPA : Enfermé depuis trois jours dans une cage...,NaN,1
59436,59436,Gorafi Magazine : Entretien exclusif avec Bara...,NaN,1
63882,63882,La Corée du Nord annonce avoir envoyé un missi...,NaN,1
64832,64832,Trop essoufflé après avoir cherché ses affaire...,NaN,1
65316,65316,Elle met en fuite un braqueur en lui jetant de...,NaN,1
67781,67781,“Notre batal a coulé” par l’homme qui fait des...,NaN,1

In [32]:
news_df = news_df.dropna()
news_df['news']  = news_df[['title', 'text']].apply(lambda row: row['title'] + ' '  + row['text'], axis = 1) #joint title with text
news_df = news_df[['news', 'label']]

In [34]:
news_df = news_df[['news', 'label']]
news_df

                                                    news  label
0      LAW ENFORCEMENT ON HIGH ALERT Following Threat...      1
2      UNBELIEVABLE! OBAMA’S ATTORNEY GENERAL SAYS MO...      1
3      Bobby Jindal, raised Hindu, uses story of Chri...      0
4      SATAN 2: Russia unvelis an image of its terrif...      1
5      About Time! Christian Group Sues Amazon and SP...      1
...                                                  ...    ...
72129  Russians steal research on Trump in hack of U....      0
72130   WATCH: Giuliani Demands That Democrats Apolog...      1
72131  Migrants Refuse To Leave Train At Refugee Camp...      0
72132  Trump tussle gives unpopular Mexican leader mu...      0
72133  Goldman Sachs Endorses Hillary Clinton For Pre...      1

[71537 rows x 2 columns]